<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio Manager</title>
  <link rel="stylesheet" href="/kaynikeStudio/css/4/w3.css">
  <!-- <script src="/js/form_Data.js"></script> -->
  <!-- <script src="js/general.js"></script> -->
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif
    }

    .back {
      background-image: url('http://localhost/kaynikeStudio/images/img_sailboat.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body class="w3-display-container back" onload="onAccordion('custmenu')">
  <!-- <body class="w3-light-grey"> -->
  <!-- <div class="w3-display-container "> -->


  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large " style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
        class="fa fa-bars"></i>  Menu</button>
    <button class=" w3-button w3-bar-item  w3-border w3-right" onclick="onLogout()">Logout</button>
    <span class="w3-bar-item w3-right">Logo</span>
    <span class="w3-bar-item w3-center"> Welcome To Kanyike Studio</span>
  </div>
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="/kaynikeStudio/images/img_avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span id="user"></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
        onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="/kaynikeStudio/views/dashboard.html" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i> 
        Overview</a>
      <button class="w3-bar-item w3-button w3-padding" onclick="onAccordion('custmenu')"><i
          class="fa fa-bullseye fa-fw"></i>Customers Menu</a>
        <div id="custmenu" class="w3-hide w3-animate-zoom">
          <a href="/kaynikeStudio/views/customers.html" class="w3-bar-item w3-button w3-padding w3-blue"><i
              class="fa fa-bullseye fa-fw"></i>Customers Info</a>
          <a href="/kaynikeStudio/views/financials/bills.html" class="w3-bar-item w3-button w3-padding"><i
              class="fa fa-bell fa-fw"></i>Billing</a>
          <a href="/kaynikeStudio/views/financials/recipts.html" class="w3-bar-item w3-button w3-padding"><i
              class="fa fa-bell fa-fw"></i> Payments</a>
          <a href="/kaynikeStudio/views/financials/balances.html" class="w3-bar-item w3-button w3-padding"><i
              class="fa fa-diamond fa-fw"></i>Balances </a>

        </div>
      </button>
      <button class="w3-bar-item w3-button w3-padding" onclick="onAccordion('officemenu')"><i
          class="fa fa-bank fa-fw"></i>Office Menu</a>
        <div id="officemenu" class="w3-hide w3-animate-zoom">
          <a href="/kaynikeStudio/views/product.html" class="w3-bar-item w3-button w3-padding"><i
              class="fa fa-history fa-fw"></i>Services</a>
          <a href="/kaynikeStudio/views/financials/payments.html" class="w3-bar-item w3-button w3-padding"><i
              class="fa fa-bank fa-fw"></i>  Expenses</a>
          <a href="/kaynikeStudio/views/account.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i> 
            Accounts</a>

        </div>
      </button>
      <button class="w3-bar-item w3-button w3-padding" onclick="onAccordion('staffmenu')"><i
          class="fa fa-bank fa-fw"></i>Staff Menu</a>
        <div id="staffmenu" class="w3-hide w3-animate-zoom">
          <a href="/kaynikeStudio/views/staff.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i> 
            Staff Details</a>
          <a href="/kaynikeStudio/views/financials/salary.html" class="w3-bar-item w3-button w3-padding"><i
              class="fa fa-bank fa-fw"></i>  Salary Payments</a>
      </button>
    </div>

    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Reports</a><br><br>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <!-- <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Customers</b></h5>
      </header> -->

    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <!-- <h5>Regions</h5>
            <img src="../w3images/region.jpg" style="width:100%" alt="Google Regional Map"> -->
        </div>
        <div class="w3-twothird">
          <h5>Customer Information</h5>
          <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="myInput"
            onkeyup="onfiltervalue()">
          <table id="table" class="w3-table w3-striped w3-white">
            <tr>
              <th><i class="fa fa-user w3-text-blue w3-large">No</i></th>
              <th><i>Name</i></th>
              <th><i>Address</i></th>
              <th><i>Email Address</i></th>
              <th><i>Phoneno</i></th>
              <th><i>Action</i></th>
            </tr>

          </table>
          <div class="w3-bar w3-border w3-round">
            <a href="#" class="w3-button" onclick="onPreviousPage()">&#10094; Previous</a>
            <a class="w3-button w3-right" onclick="onNextPage()">Next &#10095;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-container w3-center w3-margin-right">
      <div class="w3-bar">
        <button class="w3-button w3-border w3-border-blue"
          onclick="document.getElementById('customerform').style.display='block';onclearForm();">New Customer </button>
        <button class="w3-button w3-border w3-border-blue" onclick="onloadCustomers()">Refresh</button>
        <button class="w3-button w3-border w3-border-blue"
          onclick="openReport('/reports/customers.php');">Print</button>
      </div>
    </div>

  </div>


  <!--Add Customer -->
  <div id="customerform" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('customerform').style.display='none'"
          class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <!-- <img src="/images/img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top"> -->
        <h2>Add Customer</h2>
      </div>

      <form class="w3-container" onclick="event.preventDefault()">
        <div class="w3-section">
          <label><b>Customer Name</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Customer Name" id="name"
            required>
          <label><b>Customer Address</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Customer Address"
            id="address" list="samples" required>
          <datalist id="samples">
            <option value="Hourly">
            <option value="FullDay">
            <option value="Agreeable">
            <option value="Eventtime">
          </datalist>
          <label><b>Customer Phoneno</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="tel" placeholder="Enter Customer Number"
            id="phoneno">
          <label><b>Customer EmailAdress</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter Customer EmailAdress"
            id="emailaddress" required>
          <button id="btn" class="w3-button w3-block w3-green w3-section w3-padding" onclick="onSaveCustomer()">New
            Customer</button>
          <button id="btn2" style="display:none" class="w3-button w3-block w3-green w3-section w3-padding">Update
            Customer</button>
          <!-- <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me -->
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('customerform').style.display='none';" type="button"
          class="w3-button w3-red">Cancel</button>
        <!-- <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span> -->
      </div>
    </div>
  </div>

  <!-- messageModal -->
  <div id="message" class="w3-modal ">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <div class="w3-modal-content">
        <!-- <div class="w3-container"> -->
        <span onclick="document.getElementById('message').style.display='none'"
          class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

        <div id="msgpanel">
          <h3 id="msgtitle">Success!</h3>
          <p id="msg">Green often indicates something successful or positive.</p>
        </div>

        <!-- </div> -->
      </div>
    </div>
  </div>

  <div id="reportform" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:900px;height:600px;">
      <div class="w3-modal-content">
        <!-- <div class="w3-container"> -->
        <span onclick="document.getElementById('reportform').style.display='none'"
          class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

        <!-- <iframe id="reporturl" class="container" width="100%"
          height="600px" title="customersReport">
        </iframe> -->
        <iframe id="myFrame" src="https://example.com" width="100%" height="600px">

        </iframe>

      </div>
    </div>
  </div>




  <div id="reportform" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:900px;height:600px;">
      <div class="w3-modal-content">
        <!-- <div class="w3-container"> -->
        <span onclick="document.getElementById('reportform').style.display='none'"
          class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

        <!-- <iframe id="reporturl" class="container" width="100%"
          height="600px" title="customersReport">
        </iframe> -->
        <iframe id="myFrame" src="https://example.com" width="100%" height="600px">

        </iframe>

      </div>
    </div>
  </div>
  <div id="deleteForm" class="w3-modal">
    <!-- <div class="w3-modal-content w3-card-4 w3-animate-zoom"> -->
      <div class="w3-modal-content w3-red">
        <span onclick="document.getElementById('deleteForm').style.display='none'"
          class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <div class="w3-center">
          <span id="delmsg" class="w3-xlarge w3-text-white"></span>
          <br>
          <div class="w3-bar">
            <button id="No" class="w3-bar-item w3-button w3-white w3-text-red"
            onclick="document.getElementById('deleteForm').style.display='none'">No</button>
            <button id="Yes" class="w3-bar-item w3-button w3-green">Yes</button>
          </div>
        </div>
      <!-- </div> -->
    </div>

  </div>


  <script src="/kaynikeStudio/js/customer.js"></script>
  <script src="/kaynikeStudio/js/general.js"></script>
</body>

</html>